@media (max-width: 1100px) {
	.table-pages2 tr, .table-pages2 th, .table-pages2 td {
		display: block;
	}
    .table-pages2 tr {
		margin-bottom: 50px;
	}
    .table-b {
        display: none !important;
    }
    .table-n {
        display: block;
    } 
    .th-color {
        background-color: deepskyblue !important;
    }
}

@media (max-width: 300px) {
	.table-pages td {
        display: block;
    }
}